.table {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
    padding: 0 5px 0 5px;
    background-color: #7ab6b6;
    font-size: 18px;
    font-style: italic;
}

.button {
    display: flex;
    justify-content: space-between;

}

.container {
    width: 350px

}