.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}
.myself {
    background: #3faffa;
}

.myself-text {
    color: #f9f9f9;
    font-style: italic;
    font-size: 20px;
}