.container{
    font-size: 18px;
    font-style: italic;
    padding-bottom: 5px;
}

.time{
    cursor: pointer;
    width: 85px;
    border: 1px solid;
    margin: 5px;
    padding:5px;
    border-radius: 5px;
    background-color: #e9e9e9;
}
.empty{
    height: 41px;
}