.span {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 21px;
    letter-spacing: 1.2px;
    word-spacing: 2px;
    color: #05369A;
    font-weight: 700;
    text-decoration: overline solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    cursor: url("https://img.icons8.com/office/16/000000/edit.png"),auto;
}